{%  extends 'global_presentation/main.html' %}

{% block content %}

{% include "global_presentation/messages.html" %}
{% include "global_presentation/form_errors.html" with form=form %}

{% load static %}
<div class="container white_bg pt-4 mb-5 pb-3" style='background-image:url("{% static '/imgs/white_transparent_bg.png' %}");'>

  <div class="mt-5 d-flex justify-content-center h-100">
    <div>
      <div class="my-4 d-flex justify-content-center">
        <h3>Modification de votre mot de passe</h3>
      </div>
      <div class="d-flex justify-content-center">
        <form method="POST" action="">
          {% csrf_token %}

          {{ form.as_p }}
          <div class="center">
            <a href="{% url 'adminView' %}">Retour</a>
            <button class="btn btn-primary" type="submit">Modifier votre mot de passe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
