<footer class="footer mt-auto py-3 bg-dark">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="text-muted offset-1 col-6">©2020, sous license
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>
        <br>
        license libre, code source disponible sur <a href="#">github</a>
      </div>
      <div class="text-muted col-4 text-right">
        <a class="text-muted" href="{% url 'tos' %}">CGU</a><br>
        <a class="text-muted" href="https://ttdm.github.io/">A propos de l'auteur</a><br>
        <a class="text-muted" href="{% url 'home' %}">A propos de la plateforme</a>
        </div>
    </div>
  </div>
</footer>
