
.navbar{
	background-color: #f6eded !important;
}

h3, th, .my-text-secondary, form a, form a:hover,
.all_but_nav_and_foot a, .all_but_nav_and_foot a:hover,
.asterix-style, .alert a {
	color: #8B0000 !important;
}

.btn.collapsed:hover {
  background-color: #8B0000 !important;
}

.btn-primary:hover, .btn-outline-primary:hover  {
  background-color: #CA0000 !important;
	border-color: #CA0000 !important;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited,
.btn.collapsed {
	border-color: #8B0000 !important;
	color: #8B0000 !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
	background-color: #8B0000 !important;
	border-color: #8B0000 !important;
}

.partial-border:after, .small-partial-border:after {
	border-bottom: 2px solid #8B0000;
}

.my-shadow{
	box-shadow: 0 4px 8px 0 #8B0000, 0 6px 20px 0 rgba(1, 0, 0, 0.19);
}
