<footer class="footer mt-auto py-3 bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="text-muted offset-1 col-6">©2020, sous license
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>, <a href="#">code source</a></div>
      <div class="text-muted col-4 text-right">
        <a class="text-muted" href="https://ttdm.github.io/">A propos de l'auteur</a>
        <span class="d-none d-lg-inline">-</span>
        <span class="d-inline d-lg-none"><br></span>
        <a class="text-muted" href="{% url 'tos' %}">CGU</a>
        </div>
    </div>
  </div>
</footer>
