{%  extends 'global_presentation/main.html' %}

{% block content %}

<div class="container">
	<h1 class="text-center my-text-secondary small-partial-border">Conditions d’utilisations</h1>

	<p>Démarches
	<span class="my-text-secondary">-</span>
	villages
	<span class="my-text-secondary">.fr</span> est fourni sans aucune garantie.</p>
	<p>En particulier, il n’y a aucune garantie de disponibilité.
		Le service est en principe fiable parce que simple mais
		 il peut tout de même y avoir des erreurs causant des pannes.<br>
	Il n’y a pas non plus de garantie de continuité du service sur
	le long terme (Il peut fermer, ce n’est pas prévu mais si les coûts
	financiers et/ou le temps de gestion devient/deviennent trop importants
	et qu’aucune administration ne souhaite supporter le projet,
	c’est une possibilité.) </p>

	<h3>Conservation des données :</h3>
	<ul>
		<li>
			Les données issues des formulaires ne sont conservées que temporairement, le temps de les
		transmettre aux mairies destinataires.
		</li>
		<li>
			Ne sont conservées sur le long terme que les informations relatives
			aux comptes des mairies (nom de la mairie/code postal/mail de contact
			et mot de passe), les choix de disponibilités des démarches mairie par
			mairie et des informations anonymisées sur l’utilisation des services fournis.
		</li>
	</ul>

	<h3>Utilisation des données : </h3>
	<ul>
		<li>
			Les informations anonymes sur l’utilisation des services fournis
			peuvent être rendues publiques pour communiquer autour du projet.
		</li>
		<li>
			Les informations de contacts des mairies peuvent être utilisées pour
			communiquer directement avec celles-ci autour du projet.
		</li>
	</ul>


	<h3>Mentions Légales</h3>
	<p>
	  Le site www.demarches-villages.fr est géré par
		 <a href="https://ttdm.github.io/">Thibaut Tezenas du Montcel</a>
		 dans un but non lucratif. <br>
		Le site www.demarches-villages.fr est hébergé chez
		OVH (2 rue Kellermann, 59 100 Roubaix, France, Tel:1007).
	</p>
</div>
{% endblock %}
